{% extends "base.html" %}
{% block title %}
  <title>DATA EDIT Reord</title>
{% endblock %}

{% block content %}
<h2 class = "text-center">RECORD EDIT DATA PERSON</h2>
<form method="post" action="">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">NAME</label>
    <input type="text" name="name" class="form-control" value="{{person.name}}">
  </div>
  <div class="form-group">
    <label for="age">AGE</label>
    <input type="text" name="age" class="form-control" value="{{person.age}}">
  </div>
  <br>
  <input type="submit" value="UPDATE" class="btn btn-success">
</form>
{% endblock %}