{% extends "base.html" %}
{% block title %}
  <title>DATA Reord</title>
{% endblock %}

{% block content %}
<h2 class = "text-center">RECORD DATA PERSON</h2>
<form method="post" action="form">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">NAME</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="age">AGE</label>
    <input type="text" name="age" class="form-control">
  </div>
  <br>
  <input type="submit" value="SAVE" class="btn btn-success">

</form>

{% endblock %}