{% extends "base.html" %}
{% block title %}
  <title>Frist Website</title>
{% endblock %}

{% block content %}
<h2 class = "text-center">DATA PERSON</h2>
{% if messages %}
  {% for messages in messages %}
  <div class="alert alert-info" role="alert">
    <strong>{{messages}}</strong>
  </div>
  {% endfor %}
{% endif %}
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for person in all_person %}
      <tr>
        <th scope="row">{{person.id}}</th>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.date}}</td>
        <td><a href="edit/{{person.id}}" class="btn btn-warning">Edit</td>
        <td><a href="delete/{{person.id}}" class="btn btn-danger" onclick="return confirm('Do You Want To Del {{person.name}}?')">Del</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}